*{
    background-color:antiquewhite ;
    background-color:#101010 ;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-transform: lowercase;
    color: bisque;
}
#uno {
    background-color: white;
}

#titulo {
    display: flex;
    flex-direction: row;
    gap: 15px;
} 

#resultados {
    display: flex;
    gap: 15px;
}
